@page "/checkout"
@inject IOrderService _orderService
@inject NavigationManager _navigationManager

<PageTitle>Eater - Checkout</PageTitle>

<MudAppBar>
    <div>
        <MudText Typo="Typo.h6" Align="Align.Center">Checkout</MudText>
    </div>
</MudAppBar>

<div class="content">
    <MudText Typo="Typo.h6" Color="Color.Primary" Class="mb-4"><strong>Confirm Your Order</strong></MudText>
    <OrderSummaryCard />
    <PaymentSummaryCard />
</div>

<div style="padding-bottom: 5rem;"></div>
<div class="fixed-bottom-container">
    <MudButton Disabled="loading" Variant="Variant.Filled" Color="Color.Primary" FullWidth OnClick="OnOrderBtnCliked">
        @if (loading) 
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
            <MudText Class="ms-2">Processing</MudText>
        }
        else
        {
            <MudText Class="ms-2">Place Order</MudText>
        }
    </MudButton>
</div>

@code {
    bool loading = false;

    async Task OnOrderBtnCliked()
    {
        loading = true;
        var order = await _orderService.PlaceOrderAsync();
        if (order != null)
        {
            _navigationManager.NavigateTo($"/order/{order.Id}", replace: true);
        }
        loading = false;
    }
}
