@inherits LayoutComponentBase
@using System.ComponentModel
@inject AppViewModel AppViewModel
@inject NavigationManager NavigationManager

<MudThemeProvider Theme="EaterTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <CascadingValue Value="@AppViewModel">
        @if (AppViewModel.Loading)
        {
            <div class="d-flex flex-column align-center justify-center" style="width: 100%; height: 100vh;">
                <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
                <p class="mt-5">Please wait...</p>
            </div>
        }
        else if (AppViewModel.CurrentTable == null)
        {
            <p>Table not found</p>
        }
        else
        {
            <MudMainContent>
                @Body
            </MudMainContent>
        }
    </CascadingValue>
</MudLayout>

@code {
    MudTheme EaterTheme = new()
    {
        Palette = new()
        {
            Primary = "rgb(12, 89, 160)",
            AppbarBackground = "rgb(12, 89, 160)"
        }
    };

    protected override async Task OnInitializedAsync()
    {
        if (NavigationManager.TryGetQueryString("tableId", out string? tableId)) 
        {
            await AppViewModel.FetchTableInfoAsync(tableId!);
        }
    }
}