@inherits LayoutComponentBase
@using System.ComponentModel
@inject AppViewModel _appViewModel
@inject NavigationManager _navigationManager

<MudThemeProvider Theme="EaterTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <CascadingValue Value="@_appViewModel">
        @if (_appViewModel.Loading)
        {
            <LoadingSpinner />
        }
        else if (_appViewModel.CurrentTable == null)
        {
            <p>Table not found</p>
        }
        else
        {
            <MudMainContent>
                @Body
            </MudMainContent>
        }
    </CascadingValue>
</MudLayout>

@code {
    MudTheme EaterTheme = new()
    {
        Palette = new()
        {
            Primary = "rgb(12, 89, 160)",
            AppbarBackground = "rgb(12, 89, 160)"
        },
        LayoutProperties = new()
        {
            DefaultBorderRadius = "20px"
        }
    };

    protected override async Task OnInitializedAsync()
    {
        await _appViewModel.InitializeAsync();
    }
}